<!DOCTYPE html>
<html>

<head>
  <title>Rococo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Alata&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/film.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="photos/favicon.ico" type="image/x-icon">
</head>

<body>

  <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/#films">
      <img src="/photos/logo.jpg" class="d-inline-block align-top" alt="">
      <h3 class="film-h3">ROCOCO</h3>
    </a>
    <button class="ui icon button">
      <i class="large instagram icon" onClick='location.href="https://www.instagram.com/rococo__kz/?igshid=f02fd975pjnr"'></i>
    </button>
  </nav>

  <header class="parallax">
    <div class="header-text">
      <h1>ROCOCO</h1>
      <h2>Смотри лицензионный контент по доступной цене!</h2>
    </div>
  </header>
  <div class="ui four column centered grid" >
    <div class="ui link cards">

      <div class="card">
        <div class="image">
          <img src="https://ask.ivi.ru/s/attachments/15170/0/0/project_logo_sAUdHFU.png">
        </div>
        <div class="content">
          <div class="header"> <h2>Ivi</h2> </div>
          <div class="meta">
            <a class="text-muted">Скидка 30%</a>
          </div>
          <hr class="featurette-divider">
          <div class="description">
           <p>Драйвовый IVI Weekend пригнал, чтобы подарить тебе <span class="text-muted">скидку 30%.</span> 

            Экшн, закрученные повороты сюжета и много адреналина — все это в подборке фильмов недели.
            
          </p>
        </div>
      </div>
      <div class="extra content">
        <span >
         Выберайте на официальном сайте 
       </span>
       
     </div>
   </div>
 </div>
 <div class="ui link cards">


   <div class="card">
    <div class="image">
      <img src="https://static.pepper.ru/threads/thread_full_screen/default/54044_1.jpg">
    </div>
    <div class="content">
      <div class="header"> <h2>More.tv</h2></div>
      <div class="meta">
        <a class="text-muted">Месяц подписки бесплатно</a>
      </div>
      <hr class="featurette-divider">
      <div class="description">
        <p>Переходим в раздел промокоды и вводим промокод  <span class="text-muted">  ILOVESONY. </span></p>  После активации для просмотра станут доступны все фильмы, сериалы и шоу без рекламы

        
        
      </div>
    </div>
    <div class="extra content">
      <span >
        Промокод откроет доступ к подписке на 30 дней
      </span>
      
    </div>
  </div>
</div>
<div class="ui link cards">


  <div class="card">
    <div class="image">
      <img src="https://можнодома.рф/wp-content/uploads/2020/03/2-1-500x500.png">
    </div>
    <div class="content">
      <div class="header"><h2> Okko.tv</h2></div>
      <div class="meta">
        <a class="text-muted">Месяц подписки бесплатно</a>
      </div>
      <hr class="featurette-divider">
      <div class="description">
       <p>  Переходим на сайт <a class="text-muted" href="https://okko.tv/"> Okko.tv </a>и вводим промокод <span class="text-muted">816538. </span>
       Бесплатно получаем доступ ко всем фильмам, сериалам и шоу.</p>

       
       
     </div>
   </div>
   <div class="extra content">
    <span >
      Отключите автопродление подписке при активации
    </span>
    
  </div>
</div>
</div>
<div class="ui link cards">

  <div class="card">
    <div class="image">
      <img src="https://thumbs.dfs.ivi.ru/storage2/contents/5/e/d7884a911a93f529fedbba07052b43.jpg">
    </div>
    <div class="content">
      <div class="header"> <h2>Король Лев</h2> </div>
      <div class="meta">
        <a class="text-muted">Цена за просмотр: 1099 тг </a>
      </div>
      <hr class="featurette-divider">
      <div class="description">
       <p> В африканской саванне у Короля Льва Муфасы рождается наследник Симба, которому уготован непростой путь от избалованного непоседы до изгоя, от беспечного бродяги до защитника и повелителя всех зверей.
       </p>
     </div>
   </div>
   <div class="extra content">
    <span>
      Смотрите на cайте <a class="text-muted" href="https://www.ivi.ru/watch/177902">ivi.ru</a>
    </span>
    
  </div>
</div>
</div>
</div>

 <div class="footer"></div>
</body>
</html>