<!DOCTYPE html>
<html lang="ru">

<head>
 <meta charset="utf-8">
 <title>Rococo</title>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
 <meta name="viewport" content="width=device-width">
 
</head>

<body>

  <div style="margin-top: 25px"class=" ui main text container segment" >
   <div class="ui huge header" >  New Study card </div>
   <form class="ui inverted form" action="/study" method="POST">
     <div class="field"> 
      <label style="color:#000000" > Image</label>
      <input type="text" name="study[image]" placeholder=" Добавить картинку">
    </div>

    <div class="field"> 
     <label style="color:#000000"> Title </label>
     <input type="text" name="study[title]" placeholder=" Название..">
   </div>
   <div class="field"> 
     <label style="color:#000000"> Subtitle </label>
     <input type="text" name="study[subtitle]" placeholder=" Подзаголовок...">
   </div>
   <div class="field"> 
     <label style="color:#000000"> Description </label>
     <textarea rows="6" name="study[description]" placeholder="Описание ..."> </textarea>
   </div>
   <div class="field"> 
     <label style="color:#000000"> Link </label>
     <input type="text" name="study[link]" placeholder=" Ссылка на источник..">
   </div>

   <button class="ui   button" type="submit">

     Ok
   </button>

 </form>
</div>

</body>
</html>
