@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@200&family=Yeseva+One&display=swap');

.navbar{
  background-color: #262F34;
  position: fixed; width:
  100%; z-index: 2;
  border-bottom: 2px solid #fff;
}
.navbar-brand{
  padding-left: 2%;
}
.navbar-brand img{
  width: 60px; height: auto; margin-right: 5px;
}
.navbar-brand .food-h3{
  display: inline;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1px;
  font-size: 25px;
}

.header-text h1{
  color: black;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1px;
}
.header-text h2{
  color: black;
  font-family: 'Yeseva One', cursive;
  max-width: 90%;
  margin: 0 auto;
  font-size: 30px;
}

.header-text{
 padding-top: 160px;
 text-align: center;
}

h1{
  font-size: 6em;
}

.ui.icon.button {
background-color: #262F34;
    color: #fff;
    height: 27px;
    padding-top: 0px;
    font-size: 19px;
}

.parallax {
  background-image: url(../photos/banner.jpeg);
  height: 460px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1200px) {
  .header-text h2{
  max-width: 60%;
}
}

@media only screen and (max-width: 760px) {
    .header-text h2{
  font-size: 5vw;
}
h1{
 font-size: 3.5em;
}
h2{
 font-size: 1.8rem;
}
.header-text{
  padding-top: 135px;
}
  .ui.icon.button{
    padding-left: 0;
    padding-right: 0; 
  }
  .parallax {
  height: 330px;
}
}

@media only screen and (max-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}